* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    color: rgb(255, 255, 255);
    font-family: 'Itim', cursive;
    background-color: #0E2F2F;

}

.Heading {
    color: rgb(247, 173, 82);
    text-shadow: 2px 2px 1px rgb(91, 92, 95);
    margin-left: 25px;
    font-size: 40px;
}

#Date {
    background-color: rgb(83, 83, 82);
    margin-left: 10px;
    border-radius: 10px;

}

body {
    margin-top: 200px;
    margin-left: 500px;
    font-size: 14px;
    
}

.buttons {
    background-color: rgb(247, 173, 82);
    margin-left: 30px;
    padding: 1px 3px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
}

.buttons:hover {
    background-color: rgb(83, 83, 82);
}

.foot {
    margin-left: 20px;
    display: inline-block;
    font-size: 15px;

}

footer {
    margin-left: 65px;
}

form{
    margin-left: 55px;
}

#age{
    margin-left: 55px;
}