#mainDiv {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    color: rgb(255, 255, 255);
    font-family: 'Itim', cursive;
    background-color: #0E2F2F;
    margin: 100px;
    text-align: center;
    border-radius: 25px;  
}

.Heading {
    color: rgb(247, 173, 82);
    text-shadow: 2px 2px 1px rgb(91, 92, 95);
    font-size: 40px;
}

#Date {
    background-color: rgb(83, 83, 82);
    margin-left: 10px;
    border-radius: 10px;

}

.buttons {
    background-color: rgb(247, 173, 82);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 10px;
    margin-right: 10px;
}

.buttons:hover {
    background-color: rgb(83, 83, 82);
}

.foot {
    margin-left: 20px;
    display: inline-block;
    font-size: 15px;
    color: white;
}

footer {
    
    text-align: center;
}

form{
    text-align: center;
}

#age{
    margin-right: 60px;
}

